.App {
  text-align: center;
}

.h1 {
  font-size: 18px;
  font-weight: bold;
  color: #2a6b2c;
  margin-top: 20px;
  padding-top: 20px;
}

.TableHeader {
  font-size: 18px;
  font-weight: bold;
  color: #081808;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Whole {
  background-color: #eeeeee;
  text-align: center;
}

.TopMenu {
  background-color: #4caf50;
  text-align: left;
  padding-left: 50px;
  -webkit-box-shadow: 0 5px 6px rgb(110, 110, 110);
  -moz-box-shadow: 0 5px 6px rgb(110, 110, 110);
  box-shadow: 0 5px 6px rgb(110, 110, 110);
}

header > a + a {
  margin-left: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  color: white;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.DisplayBody {
  width: 100%;
  text-align: center;
}

.CancelBtn {
  background-color: #aaaaaa;
  color: white;
  width: 140px;
  font-weight: bold;
  padding: 14px;
  font-size: 14px;
  border: none;
  border-bottom: 3px solid #999999;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.SubmitBtn {
  background-color: #4caf50;
  color: white;
  width: 140px;
  font-weight: bold;
  padding: 14px;
  font-size: 14px;
  border: none;
  border-bottom: 3px solid #3e8e41;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.DeleteBtn {
  background-color: #f32b2bf3;
  color: white;
  width: 140px;
  font-weight: bold;
  padding: 14px;
  font-size: 14px;
  border: none;
  border-bottom: 3px solid #999999;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.EntryBox {
  width: 40%;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
}

.TitleBar {
  background-color: #4caf50;
  border-bottom: 3px solid #3e8e41;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

.MessageBox {
  background-color: #f9f9f9;
  color: #555555;
  width: 100%;
  height: 30%;
}

.vertalign {
  position: relative;
  top: 20%;
  -ms-transform: translateY(-30%);
  transform: translateY(-50%);
}

.ButtonBar {
  background-color: #f9f9f9;
  width: 100%;
  height: 80px;
  align-self: center;
}

.Property {
  text-align: left;
  height: 40px;
  margin: 8px 0;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
  width: 26%;
  background-color: #f9f9f9;
  color: #555555;
}

.Field {
  text-align: left;
  width: 70%;
  background-color: #f9f9f9;
}

.inputText {
  width: 70%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px 6px 6px 6px;
  box-sizing: border-box;
  font-size: 15px;
  color: #555555;
}
